processing_nyctaxi_data.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "name": "Copy to staging",
        "type": "Copy",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": true,
          "secureInput": true
        },
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "enablePartitionDiscovery": false
            },
            "formatSettings": {
              "type": "ParquetReadSettings"
            },
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "Project_Lakehouse",
                "properties": {
                  "annotations": [],
                  "type": "Lakehouse",
                  "typeProperties": {
                    "workspaceId": "ba5c5306-83f4-4f0e-b89d-6619e74d053f",
                    "artifactId": "56cf4bb1-adad-4345-94b3-37c1337b1d8a",
                    "rootFolder": "Files"
                  }
                }
              },
              "type": "Parquet",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "fileName": {
                    "value": "@concat('yellow_tripdata_',variables('v_date'),'.parquet')\n",
                    "type": "Expression"
                  },
                  "folderPath": "NYC_Yellow_Taxi_Data"
                },
                "compressionCodec": "snappy"
              },
              "schema": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "preCopyScript": "delete from staging.Yellow_Taxi_NYC",
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "disableMetricsCollection": false,
            "datasetSettings": {
              "annotations": [],
              "linkedService": {
                "name": "Project_Warehouse",
                "properties": {
                  "annotations": [],
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "endpoint": "n4pirizp7goejn7g5hpvn3npga-azjvzoxuqmhe7oe5mym6otifh4.datawarehouse.fabric.microsoft.com",
                    "artifactId": "7ac4d9d5-6e95-4d94-b5cb-ed429c4d852b",
                    "workspaceId": "ba5c5306-83f4-4f0e-b89d-6619e74d053f"
                  }
                }
              },
              "type": "DataWarehouseTable",
              "schema": [],
              "typeProperties": {
                "schema": "staging",
                "table": "Yellow_Taxi_NYC"
              }
            }
          },
          "enableStaging": true,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        }
      },
      {
        "name": "Deleting_Outliers",
        "type": "SqlServerStoredProcedure",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Set variable1",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[staging].[DELETE_OUTLIERS]",
          "storedProcedureParameters": {
            "end_date": {
              "value": {
                "value": "@variables('v_end_date')",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "start_date": {
              "value": {
                "value": "@concat(variables('v_date'),'-01')",
                "type": "Expression"
              },
              "type": "DateTime"
            }
          }
        },
        "linkedService": {
          "name": "Project_Warehouse",
          "objectId": "7ac4d9d5-6e95-4d94-b5cb-ed429c4d852b",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "n4pirizp7goejn7g5hpvn3npga-azjvzoxuqmhe7oe5mym6otifh4.datawarehouse.fabric.microsoft.com",
              "artifactId": "7ac4d9d5-6e95-4d94-b5cb-ed429c4d852b",
              "workspaceId": "ba5c5306-83f4-4f0e-b89d-6619e74d053f"
            }
          }
        }
      },
      {
        "name": "Set variable1",
        "type": "SetVariable",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Copy to staging",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "v_end_date",
          "value": {
            "value": "@addToTime(concat(variables('v_date'),'-01'),1,'month') ",
            "type": "Expression"
          }
        }
      },
      {
        "name": "Loading process_log",
        "type": "SqlServerStoredProcedure",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "Deleting_Outliers",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "storedProcedureName": "[metadata].[inset_processlog]",
          "storedProcedureParameters": {
            "pipeline_run_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "String"
            },
            "processed_date": {
              "value": {
                "value": "@pipeline().TriggerTime",
                "type": "Expression"
              },
              "type": "DateTime"
            },
            "table_name": {
              "value": "Yellow_Taxi_NYC",
              "type": "String"
            }
          }
        },
        "linkedService": {
          "name": "Project_Warehouse",
          "objectId": "7ac4d9d5-6e95-4d94-b5cb-ed429c4d852b",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "n4pirizp7goejn7g5hpvn3npga-azjvzoxuqmhe7oe5mym6otifh4.datawarehouse.fabric.microsoft.com",
              "artifactId": "7ac4d9d5-6e95-4d94-b5cb-ed429c4d852b",
              "workspaceId": "ba5c5306-83f4-4f0e-b89d-6619e74d053f"
            }
          }
        }
      },
      {
        "name": "Latest_Month_Processed_Data",
        "type": "Script",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "linkedService": {
          "name": "Project_Warehouse",
          "objectId": "7ac4d9d5-6e95-4d94-b5cb-ed429c4d852b",
          "properties": {
            "annotations": [],
            "type": "DataWarehouse",
            "typeProperties": {
              "endpoint": "n4pirizp7goejn7g5hpvn3npga-azjvzoxuqmhe7oe5mym6otifh4.datawarehouse.fabric.microsoft.com",
              "artifactId": "7ac4d9d5-6e95-4d94-b5cb-ed429c4d852b",
              "workspaceId": "ba5c5306-83f4-4f0e-b89d-6619e74d053f"
            }
          }
        },
        "typeProperties": {
          "scripts": [
            {
              "type": "Query",
              "text": {
                "value": "SELECT TOP(1) \nlast_processed_pickup_date\nfrom metadata.process_log\nwhere table_processed='Yellow_Taxi_NYC'\norder by last_processed_pickup_date desc",
                "type": "Expression"
              }
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        }
      }
    ],
    "variables": {
      "v_date": {
        "type": "String",
        "defaultValue": "2024-01"
      },
      "v_end_date": {
        "type": "String"
      }
    }
  }
}